data
docs-old
docs
.idea
.ipynb_checkpoints
*.pyc
tree.dot
venv

thesis/~*
thesis/*.bak
thesis/*.aux
thesis/*.log
thesis/*.toc
thesis/*.lof
thesis/*.lot
thesis/*.blg
thesis/*.bbl
thesis/*.eps
thesis/*.synctex.gz
thesis/dbsma.pdf
thesis/img/**/*.pdf

node_modules
thesis/node_modules
